.button {
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: solid 2px transparent;
  border: none;
  background: none;
}

.button--medium {
  padding: 10px 20px;
}

.button--large {
  width: 100%;
  padding: 10px 20px;
}

.button--secondary {
  padding: 10px 40px;
}

.button--light {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.button--light:hover {
  outline-color: var(--brand-mustard);
}

.button--light.button--deactive {
  background: var(--light-blue);
  color: var(--white);
}

.button--dark {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}

.button--dark:hover {
  outline-color: var(--white);
}

.button--dark.button--deactive {
  background: var(--light-mustard);
  color: var(--gray);
}

.button--deactive, .button--deactive:hover {
  outline-color: transparent;
  cursor: default;
}
