.container {
  display: flex;
  align-items: flex-start;
  color: var(--primary-bg-color)
}

.wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 20px 0 20px;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  height: 78px;
}

.wrapper svg {
  display: inline-block;
  vertical-align: top;
}

.wrapper h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

