:root {
  --brand-mustard: #EFC01A;
  --brand-blue: #1D1E41;
  --coral-red: #DA6951;
  --light-blue: #DDE2EF;
  --light-mustard: #FAEEC2;
  --white: #FFFFFF;
  --gray: #B0B0B0;
  --charcoal: #3F3F3F;

  --primary-bg-color: var(--brand-blue);
  --primary-bg-hover-color: var(--light-blue);
  --primary-text-color: var(--brand-mustard);

  --secondary-bg-color: var(--brand-mustard);
  --secondary-bg-hover-color: var(--light-mustard);
  --secondary-text-color: var(--brand-blue);

  --border-radius: 12px;

  --font-family: 'Poppins';
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 32px;
}

.buttons {
  display: flex;
  gap:16px;
}

.menu {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:8px

}
